/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*GENERAL*/
.container{
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

/*HEADER*/
header{
    padding: 10px;
}

header img,
header h1{
    vertical-align: middle;
}

h1{
    display: inline;
}

/*MAIN*/
main{
    background-color: #F6F8F9;
}

.circle{
    border: 1px solid green;
    color: green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    display: inline-block;
    text-align: center;
}

.circlex{
    color: red;
    border-color: red;
}

.add{
    border-radius: 2px;
    border: 1px solid #44ABEA;
    background-color: #44ABEA;
}

.mark{
    border: 1px solid #44ABEA;
    border-radius: 10px;
    background-color: #44ABEA;
    padding: 3px;
}
.markpurple{
    border: 1px solid #9B72E4;
    background-color: #9B72E4;
}
.markgreen{
    border: 1px solid #64C0A9;
    background-color: #64C0A9;
}
.markorange{
    background-color: #F19E32;
    border: 1px solid #F19E32;
}

.tasks-container{
    margin: 5%;
}

.tline{
    margin: 2%;
}