/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*GENERAL*/
.container{
    width: 80%;
    margin: 0 auto;
    background-color: gray;
}

/*HEADER*/
header{
    padding: 10px;
}

header img,
header h1{
    vertical-align: middle;
}

h1{
    display: inline;
}

/*MAIN*/
main{
    background-color: #F6F8F9;
}

.circle{
    border: 1px solid green;
    color: green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    display: inline-block;
    text-align: center;
}

.circlex{
    color: red;
    border-color: red;
}